{% extends "base.html" %} {% block content %}



<div class="container mt-4" style="padding-top: 20px;">
    <div class="card" style="background-color: #f0f8ff; border: 1px solid #b0c4de; box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);font-family: 'Roboto', sans-serif;">
      <div class="card-body custom-form">

    <h2>隱私權政策(Privacy Policy)</h2>
<br><h4>更新日期: 2024/08/28</h4>
<br>
個人理財網站(以下稱為「本網站」)非常重視您的隱私，並致力於保護您的個人資訊。請仔細閱讀本隱私政策，瞭解我們如何收集、使用、保護和分享您的個人資料。
<ul>
    <li>1. 資料收集
        我們可能會收集以下類型的個人資料：
        
        姓名和聯絡資訊（如電子郵件地址）
        財務資料（如收入、支出、儲蓄目標）
        帳號資訊和密碼
        使用行為數據和偏好設置</li>
    <li>2. 資料使用
        我們收集的個人資料將用於以下目的：
        
        提供和管理您的個人理財工具和服務
        個性化您的使用體驗
        分析和改進我們的服務
        向您發送有關本網站的更新和理財建議</li>
    <li>3. 資料分享
        我們不會將您的個人資料出售或租賃給第三方。除非：
        
        為了提供或維護本網站所需的服務
        為了符合法律要求
        為了保護我們的權利或應對欺詐行為</li>
    <li>4. 資料保護
        我們採取嚴格的安全措施來保護您的財務資料和其他個人資訊，以防止未經授權的存取、使用或披露。</li>
    <li>5. 使用者權利
        您有權查詢、修改或刪除我們所持有的個人資料。如果您對您的資料有任何疑問或請求，請聯繫我們。</li>
    <li>6. 隱私政策更新
        我們可能會不定期更新本隱私政策。每次更新後，新的政策將在本頁面公佈，並標註更新日期。</li>
    <li>7. 聯繫我們
        如果您對本隱私政策有任何疑問或關切，請連繫formosa.tours@gmail.com</li>
</ul>
  </div>
 </div>
</div>

<a href="{{ url_for('index') }}" class="btn btn-primary">回首頁</a>
{% endblock %}