{% extends "base.html" %} {% block content %}

<div class="container mt-4" style="padding-top: 20px;">
    <div class="card" style="background-color: #f0f8ff; border: 1px solid #b0c4de; box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);font-family: 'Roboto', sans-serif;">
      <div class="card-body custom-form">

    <h2>服務條款(Terms of Service)</h2>
<br><h4>更新日期: 2024/08/28</h4>
<br>
歡迎使用 個人理財網站（以下稱為「本網站」）。使用本網站即表示您同意遵守以下服務條款。請仔細閱讀這些條款，因為它們涉及您的權利和義務。
<ul>
    <li>1. 服務使用
        本網站提供的服務僅供合法使用，且僅限於個人理財管理之用。您同意不從事任何違法或不正當行為。</li>
    <li>2. 使用者帳號
        為使用本網站的完整功能，您可能需要註冊帳號。您有責任保護您的帳號資訊，並對帳號下發生的所有行為負責。</li>
    <li>3. 知識產權
        本網站的所有內容（包括但不限於文字、圖像、程式碼）均受版權保護，未經授權不得複製、散佈或修改。</li>
    <li>4. 使用者內容
        您可以在本網站上提交財務資料和其他內容，但您必須確保您擁有該內容的權利，並且提交的內容不侵犯他人的權利。</li>
    <li>5. 責任限制
        本網站僅提供理財管理工具和建議，對於您財務決策的結果不承擔責任。在適用法律允許的最大範圍內，我們不對因使用或無法使用本網站而造成的任何損害負責。</li>
    <li>6. 服務終止
        我們保留隨時終止或限制您使用本網站的權利，無需事先通知。</li>
    <li>7. 服務條款的修改
        我們可能會隨時修改這些服務條款。修改後的條款將在本頁面公佈，並立即生效。繼續使用本網站即表示您接受修改後的條款。</li>
    <li>8. 聯繫我們
        如果您對本服務條款有任何疑問或關切,請聯繫我們:formosa.tours@gmail.com</li>
</ul>
</div>
</div>
</div>

{% endblock %}